.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  column-gap: 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.search-panel {
  display: flex;
  flex-direction: row;
  width: 500px;
  height: 50px;
  background-color: #fff;
  font-size: 30px;
  border-radius: 10px;
}
.my-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 40px;
  min-height: 90vh;
  background-color: #282c34;
}
.avatar {
  margin-top: 30px;
  width: 400px;
  height: 200px;
  background-color: #fff;
  color: black;
  font-size: 20px;
}